<div class="header"><h2>Swift Scraper</h2><a href="/">Home</a><a href="/api/saved">Saved Articles</a><a href="/scrape">Scrape New Articles</a></div>
<div class="side">
    <img src="/assets/img/swift.jpg" alt="Swift Image"><div height="350" width="500"><h1 style="padding:20px">iOS Programming</h1></div>
</div>
    <div class="sidebyside">
          {{#each swiftarticles}}
           <div class="swiftarticle">
            <div class="title" data-title={{this.title}}>{{this.title}}</div>
            <div class="summary" data-summary="{{this.summary}}">{{this.summary}}</div>
            <a class="text" href="{{this.text}}">{{this.text}}</a>
            <button data-title="{{this.title}}" data-summary="{{this.summary}}" data-text="{{this.text}}" class="deletebutton">Delete Article!</button>
            </div>
            </div>
          {{/each}}
    </div>
